.profile-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}


.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #333;
}


.profile-nim {
    font-size: 16px;
    color: #777;
    margin-top: 0;
    margin-left: 0;
}

.profile-title {
    color: white;
    text-align: center;
}


.centered-title {
    text-align: center;
}