.profile-card {
    display: flex;
    justify-content: center;
    background-color: rgb(40, 40, 68);
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    text-align: left;
}

.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
}

.profile-genre {
    font-size: 16px;
    color: #777;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
}